{% extends "clothes/base.html" %}

{% block content %}
    <div class="item">
        <h1>{{ clothes.name }}</h1>
        <img src="{{ clothes.image.url }}" alt="" height="300" width="250">
        <p><b>Description</b>: {{ clothes.desc }}</p>
        <p><b>Type of clothing</b>: {{ clothes.type }}</p>
        <p><b>Brand</b>: {{ clothes.brand }}</p>
        <p><b>Material type</b>:{{ clothes.fabric }}</p>
        <p><b>Color</b>: {{ clothes.color }}</p>
        <p><b>Price</b>: {{ clothes.price }}</p>
    </div>
{% endblock %}